<!--
  Wrapper component for concepts
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../gid-api/gid-api.html">
<!--
`gid-list-concepts`

The `gid-list-concepts` element is a data component acting as a wrapper  on gid-api used
for fetching the list of concepts against a particular user.

<gid-list-concepts
api-url='https://ql50yzu0fj.execute-api.us-east-1.amazonaws.com/dev'
user-id='1'
concepts='{{concepts}}'>
</gid-list-concepts> 

The field 'userId' is mandatory.

If 'apiUrl' is not provided, then the component would fetch sample data from mock json.

@demo demo/index.html
-->
<dom-module id="gid-list-concepts">
  <template>
         <!-- concepts -->	
		<gid-api auto=false
			http-method="get" api-url={{conceptsUrl}} response='{{conceptsResponse}}'
			api-timeout={{conceptsTimeout}} api-params={{conceptsParams}}> </gid-api>			
	    <!-- concepts -->

  </template>
  <script>
    (function() {
     'use strict';
      Polymer({
        is:'gid-list-concepts',
        properties:{
	        	apiUrl:{
	            	type: String,
	    	        notify: true,
	    	        value: ''
	    	 	},
        	   conceptsUrl:{
                	type: String,
        	        notify: true
        	 	},
        	    conceptsTimeout : {
            		type: Number,
        	        notify: true,
        	        value : 0
        	    },
        	    conceptsResponse : {
	     	  		type : Object,
	     	  		notify : true,
	     	  		observer : 'conceptsResponseChanged'
        	  	},
        	    conceptsParams : {
	     	   		type: String,
	     	   		notify : true
     	   	    },
     	   	    concepts: {
     	          type: Array,
     	          value: [],
     	          notify: true
     	        },
     	       userId: {
     	        	type: String,
     	        	value : '',
     	        	notify :  true,
     	        	observer: 'userIdModified'
     	        }
        },
        userIdModified:  function(){
        	if(!this.apiUrl){
        		this.conceptsUrl =   this.importPath + 'assets/' + 'concepts.json';
        		
        	}
        	else{
        		this.conceptsUrl = this.apiUrl + '/concepts';
            	this.conceptsParams = this.params= JSON.stringify({
    	        	  "userId": this.userId});
        	}
        },
        conceptsResponseChanged : function(newvalue, oldvalue){
            this.concepts = [];
            if(newvalue != null){
  	             this.async(function() {
  	         		this.concepts =  this.concepts.concat(newvalue.concepts);
  	   		 	          }, 500);
            }
           	
           }
      });
    })();
  </script>
</dom-module>
