<!--
  Wrapper component for concepts
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../gid-api/gid-api.html">
<!--
`gid-list-concepts`


A data component to get list of concepts and its metadata for given user id

    <gid-list-concepts user='1' concepts='{{concepts}}'></<gid-list-concepts>
    
The property 'user' is mandatory.

If 'apiUrl' is not provided, then the component would fetch sample data from mock json.

API endpoint:

    GET /concepts

Input:

- User (Query param)

Output:

- List of concepts with key metadata (items being displayed on listing page)


The output of this components will be as follows:

    {
      "domains": [
        {
          "id": "100462",
          "label": "CASE-NUMBER",
          "owner": {
            "id": "111001",
            "label": "Angela"
          },
          "predictedColumns": 0,
          "confirmedColumns": 0,
          "eta": 0,
          "coverage": 0,
          "classificationAccuracyPercentage": 5
        }    
      ]
    }

@demo demo/index.html
-->
<dom-module id="gid-list-concepts">
  <template>
 		 <!-- fetch entity path  -->
        	<gid-api entity = '{{apiEntity}}' path='{{path}}'></gid-api>
         <!--  fetch entity path -->
         
         <!-- concepts -->	
			<gid-api auto=false
				method="GET" api-url={{conceptsUrl}} response='{{conceptsResponse}}'
				api-timeout={{conceptsTimeout}} api-params={{conceptsParams}}></gid-api>			
	    <!-- concepts -->

  </template>
  <script>
    (function() {
     'use strict';
      Polymer({
        is:'gid-list-concepts',
        properties:{
	        	apiUrl:{
	            	type: String,
	    	        notify: true,
	    	        value: ''
	    	 	},
        	   conceptsUrl:{
                	type: String,
        	        notify: true
        	 	},
        	    conceptsTimeout : {
            		type: Number,
        	        notify: true,
        	        value : 0
        	    },
        	    conceptsResponse : {
	     	  		type : Object,
	     	  		notify : true,
	     	  		observer : 'conceptsResponseChanged'
        	  	},
        	    conceptsParams : {
	     	   		type: String,
	     	   		notify : true
     	   	    },
     	   	    concepts: {
     	          type: Array,
     	          value: [],
     	          notify: true
     	        },
     	        user: {
     	        	type: String,
     	        	value : '',
     	        	notify :  true,
                    observer: 'userModified'
     	        },
                path: {
                	   type: String,
                    notify: true,
                    value: '',
                    observer: 'pathReceived'
                },
                apiEntity: {
                	   type: String,
                    notify: true
                }
        },
        userModified:  function(){
        	if (this.user) {
        	 	if (!this.apiUrl) {
	      			this.conceptsUrl = this.importPath + 'assets/json/list-concepts.json';
	                this.conceptsTimeout =  this.conceptsTimeout - 1;
      			}
        		else {
         			this.apiEntity = 'LIST-CONCEPTS';
         		}
         	}
        },
        pathReceived: function(){
        	if(this.path){
        		var res = this.path.split(/{([^}]+)}/);
        		for (var i in res) {
        			if(!res[i].startsWith("/")){
        					if(this[res[i]]){
        						res[i] = this[res[i]];
        					}
        			}
        		}
       			this.conceptsUrl = this.apiUrl + res.join("");
       			this.conceptsParams = JSON.stringify({
  	        	  "user": this.user});
       			this.conceptsTimeout =  this.conceptsTimeout - 1;
        		
        	}
        },
        conceptsResponseChanged : function(newvalue, oldvalue){
            this.concepts = [];
            if(newvalue != null){
  	             this.async(function() {
  	         		this.concepts =  this.concepts.concat(newvalue.concepts);
  	   		 	          }, 500);
            }
           	
           }
      });
    })();
  </script>
</dom-module>
